body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #faf1e4, #9eb384);
    color: #435334;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style untuk wadah konten */
.container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Style untuk header */
header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Style untuk judul */
h2 {
    font-size: 27px;
    margin: 0px;
}

/* Style untuk subjudul */
h4 {
    font-weight: lighter;
    margin: 0px;
}

/* Style untuk baris formulir */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Style untuk kelompok elemen formulir */
.form-group {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

/* Style untuk label */
label {
    font-weight: bold;
    margin-bottom: 10px;
    align-self: flex-start;
}

/* Style untuk input fields */
input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #435334;
    background-color: rgb(206, 222, 189, 0.6);
}

/* Style untuk tombol Daftar */
.btn {
    background-color: #cedebd;
    color: #435334;
    font-size: 15px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style hover untuk tombol Daftar */
.btn:hover {
    background-color: #435334;
    color: #cedebd;
}

/* Style untuk pesan "Sudah punya akun?" */
p {
    margin-top: 20px;
}

/* Style untuk tautan Masuk */
a {
    text-decoration: none;
    color: #016a70;
    font-weight: bold;
}

/* Style hover untuk tautan Masuk */
a:hover {
    text-decoration: underline;
}
